In [1]:
import pandas as pd

In [18]:
data = pd.read_excel(r"C:\Users\samba\Desktop\Project Details.xlsx")

In [19]:
data.columns = data.columns.str.replace(' ','_')

In [40]:
import mysql.connector
password1 = input("please enter your password for Mysql")
#cursor.execute('create database Krishna;')
import os
import datetime as datetime
import numpy as np
import warnings

krishnadb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=password1,
    database="project_prakalp"
)

cursor = krishnadb.cursor()
cursor.execute('use Krishna;')

please enter your password for Mysql9494

In [39]:
table_name = 'prakalp_nirdesh'
check_table_query = f"select Table_Name from Information_Schema.Tables where Table_Name = 'prakalp_nirdesh'"
cursor.execute(check_table_query)
table_exists = cursor.fetchone()
import datetime
if table_exists:
    date_query = f"Select Modified_date from krishna.{table_name}"
    cursor.execute(date_query)
    Modified_date_sql1 = cursor.fetchone()[0]
    Modified_date_sql = Modified_date_sql1.replace(microsecond = 0)
    print('Modified_Date_Sql:',Modified_date_sql)
    file_path = r"C:\Users\samba\Desktop\Project Details.xlsx"
    import os
    from datetime import datetime
    modified_time = os.path.getmtime(file_path)
    # Convert the timestamp to a datetime object
    modified_time = datetime.datetime.fromtimestamp(modified_time)
    modified_time =modified_time.replace(microsecond = 0)
    if Modified_date_sql<modified_time:
        data = data.loc[:,:]
        def get_create_table_query(data):
            column_names = data.columns.to_list()
            column_definations = []
            for column_name,column_type in zip(column_names,data.dtypes):
                if column_type == 'int64':
                    column_definations.append(f'{column_name} INT')
                elif column_type == 'float64':
                    column_definations.append(f'{column_name} FLOAT')
                elif column_type == 'datetime64[ns]':
                    column_definations.append(f'{column_name} varchar(200)')
                elif column_type == '<M8[ns]':
                    column_definations.append(f'{column_name} varchar(200)')
                else:
                    column_definations.append(f'{column_name} text(20000)')
            create_table_query = f'CREATE TABLE {table_name} ({",".join(column_definations)})'
            return create_table_query
        table_name = 'prakalp_nirdesh'
        check_table_query = f"select Table_Name from Information_Schema.Tables where Table_Name = 'prakalp_nirdesh'"
        cursor.execute(check_table_query)
        table_exists = cursor.fetchone()
        if table_exists:
            delete_query = f"Drop Table {table_name} ;"
            cursor.execute(delete_query)
            krishnadb.commit()
        create_table_query = get_create_table_query(data)
        cursor.execute(create_table_query)
        krishnadb.commit()
        print('successfully Table Created')
        from datetime import datetime
        for i in data.select_dtypes(exclude = [float,int]).columns:
            data[i] = data[i].map(str)
        data.replace('nan','Not Available',inplace = True)
        data.replace('NaT','Not Available',inplace = True)
        for i in data.select_dtypes(exclude = [float,int]).columns:
            data[i].fillna('Not Available',inplace = True)
        for i in data.select_dtypes(include = [float,int]).columns:
            data[i].fillna(0,inplace = True)
        for i in data.select_dtypes(exclude = [float,int]).columns:
            data[i] = data[i].str.replace("'","")
        for i in data.select_dtypes(exclude = [float,int]).columns:
            data[i].fillna('Not Available',inplace = True)
        try:
            for row in data.itertuples(index = False):
                insert_query = f"Insert into {table_name} values{tuple(row)}"
                cursor.execute(insert_query)
            krishnadb.commit()
        except Exception as e:
            print(f"An Error Occured:{str(e)}")
        alter_query = f"ALTER TABLE {table_name} ADD MODIFIED_DATE DATETIME"
        cursor.execute(alter_query)
        krishnadb.commit()
        print('Modified_Date Column Added')
        update_query = f"UPDATE {table_name} SET MODIFIED_DATE = %s"
        cursor.execute(update_query,modified_time)
        krishnadb.commit()
    else:
        print('Data Uploaded already')
else:
    file_path = r"C:\Users\samba\Desktop\Project Details.xlsx"
    import os
    from datetime import datetime
    timestamp = os.path.getmtime(file_path)
    # Convert the timestamp to a datetime object
    dt = datetime.fromtimestamp(timestamp)
    # Remove microseconds
    dt = dt.replace(microsecond=0)
    # Convert back to a timestamp if needed
    modified_time = dt.timestamp()

    data = data.loc[:,:]
    def get_create_table_query(data):
        column_names = data.columns.to_list()
        column_definations = []
        for column_name,column_type in zip(column_names,data.dtypes):
            if column_type == 'int64':
                column_definations.append(f'{column_name} INT')
            elif column_type == 'float64':
                column_definations.append(f'{column_name} FLOAT')
            elif column_type == 'datetime64[ns]':
                column_definations.append(f'{column_name} VARCHAR(200)')
            elif column_type == '<M8[ns]':
                column_definations.append(f'{column_name} VARCHAR(200)')
            else:
                column_definations.append(f'{column_name} text(20000)')
        create_table_query = f'CREATE TABLE {table_name} ({",".join(column_definations)})'
        return create_table_query
    table_name = 'prakalp_nirdesh'
    check_table_query = f"select Table_Name from Information_Schema.Tables where Table_Name = 'prakalp_nirdesh'"
    cursor.execute(check_table_query)
    table_exists = cursor.fetchone()
    if table_exists:
        delete_query = f"Drop Table {table_name} ;"
        cursor.execute(delete_query)
        krishnadb.commit()
    create_table_query = get_create_table_query(data)
    cursor.execute(create_table_query)
    krishnadb.commit()
    print('successfully Table Created')
    from datetime import datetime
    for i in data.select_dtypes(exclude = [float,int]).columns:
        data[i] = data[i].map(str)
    data.replace('nan','Not Available',inplace = True)
    data.replace('NaT','Not Available',inplace = True)
    for i in data.select_dtypes(exclude = [float,int]).columns:
        data[i].fillna('Not Available',inplace = True)
    for i in data.select_dtypes(include = [float,int]).columns:
        data[i].fillna(0,inplace = True)
    for i in data.select_dtypes(exclude = [float,int]).columns:
        data[i] = data[i].str.replace("'","")
    for i in data.select_dtypes(exclude = [float,int]).columns:
        data[i].fillna('Not Available',inplace = True)
    try:
        for row in data.itertuples(index = False):
            insert_query = f"Insert into {table_name} values{tuple(row)}"
            cursor.execute(insert_query)
        krishnadb.commit()
    except Exception as e:
        print(f"An Error Occured:{str(e)}")
    alter_query = f"ALTER TABLE {table_name} ADD MODIFIED_DATE DATETIME"
    cursor.execute(alter_query)
    krishnadb.commit()
    print('Modified_Date Column Added')
    update_query = f"UPDATE {table_name} SET MODIFIED_DATE = %s"
    cursor.execute(update_query,modified_time)
    krishnadb.commit()
    
krishnadb.close()
cursor.close()

successfully Table Created
Modified_Date Column Added

ProgrammingError: Could not process parameters: float(1697713763.0), it must be of type list, tuple or dict